* {
    margin: 0;
    padding: 0;
}

header nav .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header nav .container .line {
    width: 100px;
    height: 0;
    border: 1px solid #a545c7;
}
header nav .container .logo img {
    width: 160px;
    height: 150px;
}

main {
    margin-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
main p {
    font-family: "Galada", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    width: 400px;
    text-align: center;
    color: #9F1818;
}
main p span {
    color: violet;
}
main .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    grid-gap: 50px;
}
main .container .ticket img {
    width: 100px;
    height: 100px;
    padding: 0 60px;
}

footer {
    font-family: "Dancing Script", cursive;
    bottom: 0;
    position: absolute;
    padding: 15px;
    font-size: 50px;
}